:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 16px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: #1f2737;
    --entry: #121720;
    --primary: #dadadb;
    --secondary: rgb(155, 156, 157);
    --tertiary: #333d51;
    --content: rgb(196, 196, 197);
    --hljs-bg: #121720;
    --code-bg: #121720;
    --border: #303d56;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
